.red {
  color: #f2c1c2 !important;
}

body,html {
  width: 100%;
  height: 100%;
  position: relative;
  margin:0;
  padding:0;
  overflow-x: hidden;


  font-size: 12pt;
  font-family: 'Vollkorn', 'Open Sans', serif;

  background-color: white;
  color: #404040;
}

#app {
  padding-bottom: 2rem;
}

ion-icon[name="add-outline"] {
  width: 17px;
  height: 17px;
}
ion-icon{
  width: 19px;
  height: 19px;
}

.displayNone {
  display: none;
}

input, select, button {
  font-family: 'Open Sans';
}

button {
  border-width: 0;
  transition: background-color .1s;
  background-color: #8da7c1;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  padding: 0.2rem .5rem;
  cursor: pointer;
}
button:hover {
  background-color: #8da7c1cc;
}
button:active, button:focus  {
  border-width: 0;
  outline: none;
}

.main-container {
  max-width: 960px;
  width: 90%;
  margin: auto;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.pointer {
  cursor: pointer;
}

.header {
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fefefe;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.header h1 {
  display: inline;
}


.context-menu {
  position: absolute;
  top: 10rem;
  right: 10rem;
  z-index: 10;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  font-family: 'Open Sans';
  font-size: 0.8rem;
  border-top-right-radius: 0;
}
.context-menu ul {
  margin: 0;
  padding: 0;
}
.context-menu li {    
  padding: 0.4rem 1rem;
  border-bottom: 1px solid lightgrey;
  list-style: none;
  cursor: pointer;
  text-align: center;
}
.context-menu li:hover {
    background-color: #f3f3f3;
}


.notebookElements {
  margin-top: 1rem;
}

.notebook-component:first-child {
}
.notebook-component {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.notebook-component .notebook-component-header {
  /* transition: margin .25s, height .25s, opacity .25s; */
  /* transition-delay: 2s; */
  /* height: 0; */
  /* margin: 0; */
  /* overflow: hidden; */
}

.notebook-component:hover .notebook-component-header {
  /* height: 1rem;
  margin: .5rem 0;
  transition-delay: 0s; */
}


.notebook-shoulder-padding {
  width: 4rem;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.notebook-shoulder-padding.leftof { left: -4rem; }
.notebook-shoulder-padding.rightof { right: -4rem; }

.notebook-component .name {
  color: #e5e5e5;
  font-size: 0.75rem;
  font-family: 'Roboto Mono';
}

.notebook-component .alias {
  transition: border-color .25s;
  border: 1px solid transparent;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: .8rem;
  color: #8da7c1;
  outline: 0;
}
.notebook-component .alias::placeholder {
  opacity: 0.25;
  transition: opacity .25s;
}


.notebook-component:hover .alias {
  border-color: #e5e5e5;
}
.notebook-component:hover .alias::placeholder { opacity: 0.25; }

.notebook-component .alias:focus {
  border-color: #c0c0c0;
}
.notebook-component .alias:focus::placeholder { opacity: 5; }

.notebook-component-shoulder {
  position: absolute;
  top: 0.0rem;
  height: 100%;
}
.notebook-component-shoulder.leftof  { left:  -1.5rem; }
.notebook-component-shoulder.rightof { right: -1.5rem; }


.notebook-component-fold, .notebook-component-remove, .notebook-drag-handle {
  color: #404040;
  transition: color .1s;
  cursor: pointer;
}

.notebook-drag-handle {
  position: absolute;
  top: 0;
  right: 2rem;
  cursor: grabbing;
}

.notebook-component-add {
  position: absolute;
  right: -1px;
  cursor: pointer;
}
.notebook-component-add.before {
  top: -17px;
}
.notebook-component-add.after {
  bottom: -9px;
}

.visibleOnComponentHover, .visibleOnComponentHover.shownOnHover {
  transition: opacity .25s;
  opacity: 0;
}
.shownOnHover {
  transition: opacity .25s;
  opacity: 0.25;
}



.notebook-component:hover .visibleOnComponentHover { opacity: 0.25; }
.notebook-component:hover .visibleOnComponentHover.op100 { opacity: 1; }
.notebook-component       .shownOnHover:hover { opacity: 1; }


.notebook-component-remove:hover {
  color: #c4383a;
}

.notebook-component-content {
  margin-top: .5rem;
}

.hidden-icon,.shown-icon { width: 1rem;}
.hidden-icon {
  position: relative;
  right: 0px;
}

/* .component {
  display: grid;
  grid-template-columns: 49.5% auto 49.5%;
  margin-bottom: 1rem;
}
.component .left, .component .right {
  
}
.component .left {
  grid-column: 1;
}
.component .right {
  grid-column: 3;
} */



.dot {
  max-width: 100%;
}
.graph {
}
.graph > svg {
  /* max-height: calc(100vh - 10rem); */
  width: 100%;
  /* height: 100%; */
}


h1:focus {
  outline: 0;
  border-bottom: 2px dotted;
}

.markdownDisplay pre, .markdownDisplay p code {
  padding: .2rem;
  background-color: #f7f7f7;
  color: #404040;
  font-size: .8rem;
  border-radius: .2rem;
}
.markdownDisplay p code {
  padding: .2rem .4rem;
}

.component-ref:focus, .component-ref:hover {
  color: #8da7c1ff;
}
.component-ref { 
  transition: 0.2s color;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 0.7rem;
  border-bottom: 2px solid;
  outline: 0;
  color: #8da7c133;

  text-align: right;
  position: absolute;
  right: 0;
  width: 7rem;
}

.component-ref::placeholder {
  /* color: #e5e5e5; */
  /* opacity: 0.5;
  transition: opacity .25s; */
}

.CodeMirror {
  height: auto;

  background: #fefcf5;
  border: 1px solid #e5e5e5;
  border-radius: 0.2rem;
  font-size: .8rem;
  color: #404040;

  font-family: 'Roboto Mono', monospace;
}

.CodeMirror-scroll {
  height: auto;
}

.clear {
  clear:both;
}

.hide {
  display: none;
}

.hideToggle {cursor: pointer;}

.hideToggle.shown  .shown-icon,
.hideToggle.hidden .hidden-icon {
  display: inline-block;
}

.hideToggle.hidden .shown-icon,
.hideToggle.shown  .hidden-icon {
  display: none;
}

.hideToggle.shown:hover  .hidden-icon,
.hideToggle.hidden:hover .shown-icon {
  display: inline-block;
}

.hideToggle.hidden:hover .hidden-icon,
.hideToggle.shown:hover  .shown-icon {
  display: none;
}

