.red {
  color: red;
}

body,html {
  width: 100%;
  height: 100%;
  position: relative;
  margin:0;
  padding:0;
  font-size: 12pt;
}
body {
  background-color: #fafafa;
}

#app {
  max-width: 960px;
  margin: auto;
  background: white;
  padding: 2rem;
}

.notebook-component {
  border-bottom: 1px solid grey;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.notebook-component .name {
  color: grey;
  font-size: 0.75rem;
  font-family: monospace;
}

.notebook-component .deleteComponent {
  position: absolute;
  right: 0;
  top: -0.2rem;
  cursor: pointer;
}

/* .component {
  display: grid;
  grid-template-columns: 49.5% auto 49.5%;
  margin-bottom: 1rem;
}
.component .left, .component .right {
  
}
.component .left {
  grid-column: 1;
}
.component .right {
  grid-column: 3;
} */



.dot {
  max-width: 100%;
}
.graph {
}
.graph > svg {
  /* max-height: calc(100vh - 10rem); */
  width: 100%;
  /* height: 100%; */
}

.CodeMirror {
  height: auto;

  background: #ececec;
  border-radius: 0.2rem;
}

.CodeMirror-scroll {
  height: auto;
}

.clear {
  clear:both;
}

.hide {
  display: none;
}

.hideToggle {cursor: pointer;}

.hideToggle.shown  .shown-icon,
.hideToggle.hidden .hidden-icon {
  display: inline-block;
}

.hideToggle.hidden .shown-icon,
.hideToggle.shown  .hidden-icon {
  display: none;
}

.hideToggle.shown:hover  .hidden-icon,
.hideToggle.hidden:hover .shown-icon {
  display: inline-block;
}

.hideToggle.hidden:hover .hidden-icon,
.hideToggle.shown:hover  .shown-icon {
  display: none;
}


.deleteComponent {
  color: grey;
  transition: color .1s;
}

.deleteComponent:hover {
  color: red;
}